@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body {
    background-color: rgb(31, 31, 31);
    color: white;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    min-height: -webkit-fill-available;
    display: block;
}

main{
    max-height: 100vh;
    display: flex;
    flex-wrap: nowrap;
    height: -webkit-fill-available;
}
.title{
    font-size: 9rem;
    font-style: italic;
}

.nav-title{
    font-size: 2rem;
    font-style: italic;
    margin-left: 1rem;
}

.post{
    display: inline-grid;
    gap: 1rem;
    /* padding: 1rem; */
    background-color: rgb(72, 72, 72);
    border-radius: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.post > *:not(img){
    margin-left: 1rem;
}

.feed{
    display: grid;
    align-items: center;
    justify-content: center;
}

.disabled{
    color: rgb(175, 174, 174);
}

@media screen and (max-width: 1025px) {
    .post > img{
        width: 70vw;
    }
}

@media screen and (min-width: 1025px) {
    .post > img{
        width: 30vw;
    }
}

.profile{
    display: grid;
}
.modal-content{
    background-color:  rgb(31, 31, 31);
}