{% extends 'base.html' %}
{% block title %}Home{% endblock title %}
{% block body %}
<div class="feed">
    <div class="post">
        <h5>user1234</h5>
        <img src="https://compote.slate.com/images/926e5009-c10a-48fe-b90e-fa0760f82fcd.png?crop=680%2C453%2Cx0%2Cy0&width=1280" alt="">
        <div class="stats">
            <button class="btn btn-outline-light"><i class="bi bi-heart"></i> 69</button>
        </div>
        <div>
            <h6 class="disabled">#stock #money #bread</h6>
            <h4>Stonks go brrrt</h4>
        </div>
    </div>
</div>
<script>
    document.querySelector("[purpose='home']").classList.add("active");
</script>
{% endblock body %} 