{% extends 'base.html' %}
{% block title %}{{post.caption}} - {{user.name}}{% endblock title %}
{% block body %}
<style>
    .post{
        background-color: #1f1f1f; 
    }
    
    @media screen and (max-width: 475px) {
        .post > img{
            width: 95vw;
        }
        .post-full{        
            grid-template-columns: 1fr;
        }
        .comments{
            width: 95vw;
        }
    }

    @media screen and (max-width: 1025px) and (min-width: 475px){
        .post > img{
            width: 70vw;
        }
        .post-full{        
            grid-template-columns: 1fr;
        }
        .comments{
            width: 70vw;
        }
    }

    @media screen and (min-width: 1025px) {
        .post > img{
            width: 30vw;
        }
        .post-full{        
            grid-template-columns: 1fr 1fr;
        }
        .comments{
            width: 30vw;
        }
    }
</style>
<div class="post-full">
    <div class="post" data-post-id="{{post._id}}">
        <img src="{{post.img_url}}" alt="" class="post-img">
        <div class="stats">
            <button name="like-btn" class="btn btn{% if not liked %}-outline{% endif %}-light" onclick="like('{{post._id}}')"><i class="bi bi-heart{% if liked %}-fill{% endif %}"></i> {{post.likes|length}}</button>
        </div>
        <div>
            <h6 class="disabled">{% for tag in post.tags %}#{{tag}} {% endfor %}</h6>
            <h4>{{post.caption}}</h4>
        </div>
    </div>
    <div class="comments">
        <div class="make-comment">
            <input class="form-control" type="text" placeholder="comment" name="comment">
            <button type="button" class="btn btn-primary" onclick="comment('{{post._id}}')">Comment</button>
        </div>
        <h4>Comments</h4>
        <ul class="comment-list">
            {% for comment in post.comments %}
                <li><a href="/user/profile/{{comment.userid}}?mode=id">{{comment.username}}</a>: {{comment.comment}}</li>
            {% endfor %}
        </ul>
    </div>
</div>
<script src="/static/post.js"></script>
<!-- {{post}}
{{user}} -->
{% endblock body %}