{% extends 'base.html' %}
{% block title %}{{post.caption}} - {{user.name}}{% endblock title %}
{% block body %}
<style>
    .post{
        background-color: #1f1f1f; 
    }
</style>
<div class="post-full">
    <div class="post">
        <img src="{{post.img_url}}" alt="" class="post-img">
        <div class="stats">
            <button class="btn btn{% if not liked %}-outline{% endif %}-light"><i class="bi bi-heart"></i> {{post.likes|length}}</button>
        </div>
        <div>
            <h6 class="disabled">{% for tag in post.tags %}#{{tag}} {% endfor %}</h6>
            <h4>{{post.caption}}</h4>
        </div>
    </div>
    <div class="comments">
        <div class="make-comment">
            <input class="form-control" type="text" placeholder="comment" name="comment">
            <button type="button" class="btn btn-primary" onclick="comment()">Comment</button>
        </div>
        <h4>Comments</h4>
        <ul class="comment-list">
            {% for comment in post.comments %}
                <li><a href="/profile/{{comment.userid}}">{{comment.username}}</a>: {{comment.comment}}</li>
            {% endfor %}
        </ul>
    </div>
</div>
<script>
    function refresh_comments(post) {
        $.ajax({
            type: 'GET',
            url: `/post/${post}?json=True`,
            success: function(msg){
                $(".comment-list").empty();
                msg['post']['comments'].forEach(element => {
                    console.log(element);
                    $(".comment-list").append(
                        `<li><a href="/profile/${element['userid']}">${element['username']}</a>: ${element['comment']}</li>`
                    )
                });
                console.log(msg);
            }
        });
    }

    function comment() {
        let post = "{{post._id}}";
        let comment = document.querySelector("input[name='comment']").value;
        $.ajax({
            type: 'POST',
            url: `/comment?post=${post}&comment=${comment}`,
            success: function(msg){
                if (msg == "True") {
                    refresh_comments(post);
                }
            }
        });
    }
</script>
<!-- {{post}}
{{user}} -->
{% endblock body %}