{% extends 'base.html' %}
{% block title %}{{post.caption}} - {{user.name}}{% endblock title %}
{% block body %}
<style>
    .post{
        background-color: #1f1f1f; 
    }
</style>
<div class="post-full">
    <div class="post">
        <img src="{{post.img_url}}" alt="" class="post-img">
        <div class="stats">
            <button class="btn btn-outline-light"><i class="bi bi-heart"></i> {{post.likes|length}}</button>
        </div>
        <div>
            <h6 class="disabled">{% for tag in post.tags %}#{{tag}} {% endfor %}</h6>
            <h4>{{post.caption}}</h4>
        </div>
    </div>
    <div class="comments">
        <form action="/comment" method="post" class="make-comment">
            <input class="form-control" type="text" placeholder="comment" name="comment">
            <input type="hidden" name="post" value="{{post._id}}">
            <button type="submit" class="btn btn-primary">Comment</button>
        </form>
        <h4>Comments</h4>
        {% for comment in post.comments %}
            <a href="/profile/{{comment.userid}}">{{comment.username}}</a>: {{comment.comment}}
        {% endfor %}
    </div>
</div>
<!-- {{post}}
{{user}} -->
{% endblock body %}