{% extends 'base.html' %}
{% block title %}{{user.name}}{% endblock title %}
{% block body %}
{% if error %}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
    {{error}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endif %}
<div class="text-center profile">
    <h1>{{user.name}}</h1>
    <h5>{{user.bio}}</h5>
    <div>
        <button data-bs-toggle="modal" data-bs-target="#follower-modal" class="profile-btn"><h5><span id="follower-count">{{user.followers|length}}</span> Followers</h5></button>
        <button data-bs-toggle="modal" data-bs-target="#following-modal" class="profile-btn"><h5><span id="following-count">{{user.following|length}}</span> Following</h5></button>
    </div>    
    <div class="modal fade" id="follower-modal" tabindex="-1" aria-labelledby="follower-modal-label" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h1 class="modal-title fs-5" id="follower-modal-label">Followers</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    {% for follower in user.followers %}
                        {{follower}}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="following-modal" tabindex="-1" aria-labelledby="following-modal-label" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h1 class="modal-title fs-5" id="following-modal-label">Followers</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    {% for following in user.following %}
                        {{following}}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <div>
        {% if me %}
        <button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="bi bi-pencil-square"></i> Edit</button>
        <button type="button" class="btn btn-danger" onclick="window.location.href = '/auth/logout'"><i class="bi bi-door-open"></i> Logout</button>
        {% else %}
        {% if current %}
        {% if user._id not in current.following %}
        <button type="button" class="btn btn-outline-light follow-btn" onclick="toggle_follow()">Follow</button>
        {% else %}
        <button type="button" class="btn btn-light follow-btn" onclick="toggle_follow()">Following</button>
        {% endif %}
        {% endif %}
        {% endif %}
    </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Edit</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="/user/edit" method="post">
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="username" class="form-label">Username</label>
                        <input type="text" class="form-control" id="username" name="username" value="{{user.username}}" required>
                    </div>
                    <div class="mb-3">
                        <label for="name" class="form-label">Name</label>
                        <input type="text" class="form-control" id="name" value="{{user.name}}" name="name" required>
                    </div>
                    <div class="mb-3">
                        <label for="bio" class="form-label">Bio</label>
                        <textarea class="form-control" id="bio" rows="3" name="bio">{{user.bio}}</textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" >Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="feed">
    {% for post in posts %}
    <div class="post" style="cursor: pointer;" data-post-id="{{post._id}}">
        <img onclick="window.location.href='/post/{{post._id}}'" src="{{post.img_url}}" alt="" class="post-img">
        <div class="stats">
            <button name="like-btn" class="btn btn{% if not post.liked %}-outline{% endif %}-light" onclick="like('{{post._id}}')"><i class="bi bi-heart{% if post.liked %}-fill{% endif %}"></i> {{post.likes|length}}</button>
        </div>
        <div>
            <h6 class="disabled">{% for tag in post.tags %}#{{tag}} {% endfor %}</h6>
            <h4>{{post.caption}}</h4>
        </div>
    </div>
    {% endfor %}
</div>

<script src="/static/post.js"></script>
<script>
    $(".follow-btn").hover(
        function() {
            var $this = $(this); // caching $(this)
            $this.data('defaultText', $this.text());
            if ($this.hasClass("btn-light")){
                $this.text("Unfollow");
            }
        },
        function() {
            var $this = $(this); // caching $(this)
            $this.text($this.data('defaultText'));
        }
    )
    function toggle_follow() {
        let user = "{{user._id}}"
        $.ajax({
            type: 'POST',
            url: `/user/follow?user_id=${user}`,
            success: function(msg){
                if (msg == "True") {
                    let btn = $(".follow-btn")
                    let follow_count_elem = $("#follower-count")
                    let count = parseInt(follow_count_elem.text())
                    if (btn.hasClass("btn-light")){
                        btn.removeClass("btn-light");
                        btn.addClass("btn-outline-light");
                        btn.text(`Follow`);
                        count-=1;
                        follow_count_elem.text(count);
                    } else {
                        btn.addClass("btn-light");
                        btn.removeClass("btn-outline-light");
                        btn.text(`Following`);
                        count+=1;
                        follow_count_elem.text(count);
                    }
                }
            }
        });
    }
</script>
{% if me %}
<script>
    document.querySelector("[purpose='profile']").classList.add("active");
</script>
{% endif %}
{% endblock body %}
